.body{
    background-color: #000000 !important;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.top >span {
    font-size: 26px;
}
.inputi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.inputi > input{
    width: 85% !important;
    border-radius: 20px !important;
}
.second , .third{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.second > .second2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    color: white;
}
/* .third > a{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50%;
    border: solid white 1px;
} */
.ree {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
.ree > a{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50%;
    border: solid white 1px;
}
.fourth{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72%;
}
li{
    list-style-type: none;
}
.fourth a{
    color: white;
    font-size: 18px;
}
.fourth a:hover{
    border-bottom: 3px solid green;
    color: white;
    padding-bottom: 10px;
}
a{
    color: white !important;
}
.coin{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.coin > .coinimg{
    display: flex;
}
.coinimg > div{
    padding-left:10px;
}
.coinimg > div > .name{
    position: relative;
    left: -15px;
}
.coin small {
    font-size: 14px;
}
.warning{
    border-radius: 5px;
    margin: 0 20px;
    font-size: 14px;
    background-color: rgba(255, 255, 0, 0.247) !important;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.namee{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 4%;
    flex-direction: row;
}
.history{
    overflow-y: auto;
    height: 50%;
}
.card-body{
    border: 1px solid rgb(175, 171, 171);
    border-radius: 20px;
}
.send{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    height: 44vh;
}
.send input{
    width: 100% !important;
    padding: 30px 0px;
    background: transparent;
    padding-left: 10px;
    border: 1px solid grey;
}
.send button{
  width: 40%;   
  height: 20%;
  border: none;
  outline: none;
  background-color: rgba(38, 190, 38, 0.822);
  color: white;
  border-radius: 20px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    pointer-events: none; /* Disable pointer events to allow clicking through the overlay */
  }
  
  .overlay.active {
    width: 250px;
    pointer-events: auto; /* Enable pointer events when the overlay is active */
  }
  
  .overlay-content {
    position: fixed;
    width: 250px;
    top: 0;
    left: -250px;
    height: 100%;
    background-color: #111;
    overflow-y: auto;
    padding-top: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 1.8rem;
  }
  
  .overlay a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  
  #menuIcon {
    cursor: pointer;
    font-size: 26px;
    margin: 10px;
    color: white;
  }
  